* {
    font-family: "-apple-system", sans-serif;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 8vw;
    letter-spacing: -0.045em;
    font-style: italic;
    font-weight: 800;
}

header p {
    font-size: 4vw;
    font-style: italic;
    font-weight: 200;
    letter-spacing: -0.035em;
    color: #0A2832;
}

#logformlinetemplate {
    display: none;
}

div[data-color="black"] {
    background: #0A2832;
    color: #E9E2CB;
}

div[data-color="red"] {
    background: #d30102;
}

div[data-color="green"] {
    background: #859900;
}

div[data-color="yellow"] {
    background: #b58900;
}

div[data-color="blue"] {
    background: #268bd2;
}

div[data-color="magenta"] {
    background: #d33682;
}

div[data-color="cyan"] {
    background: #2aa198;
}

div[data-color="white"] {
    background: #E9E2CB;
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}

div.input-group {
    margin: 0.5rem 0.25rem;
}

div#buttons {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 2.2vw;
    border: 0;
    padding: 0.3em 1em 0.5em 1em;
    border-radius: 0.8rem;
    color: #fff;
    line-height: 1em;
    top: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

button.deletebutton {
    background: #d30102;
    border: 1px solid black;
}

button.dupebutton {
    background: #708183;
    border: 1px solid black;
}

button.addbutton {
    background: #708183;
    border: 1px solid black;
}

button#resetbutton {
    background: #d30102;
}

button#copybutton {
    background: #5859B7;
    font-weight: 200;
    /*width: 33%;*/
}

button#link {
    background: #2aa198;
}

button#link a {
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

pre {
    font-family: monospace;
    margin: 3.6rem auto;
    background: #0A2832;
    color: #E9E2CB;
    white-space: pre-wrap;
    font-size: 1.2rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    text-align: left;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    background: #465A61;
    color: white;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #81908F;
    color: white;
}

.splitlog {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

#global-options {
    margin-bottom: 20px;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
